<div id="<%= dom_id budget_product %>">
  <p>
    <strong>Value:</strong>
    <%= budget_product.value %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= budget_product.quantity %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= budget_product.product_id %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= budget_product.budget_id %>
  </p>

</div>
